<div class="container">
    <h1>Login</h1>
    <form action="index.html">
        <div class="form-group" id="register-form">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email"><br>
            <label for="pass">Password:</label>
            <input type="password" class="form-control" name="pass" id="pass" placeholder="Password"><br></div>
            <button type="submit" class="btn btn-primary" >Submit</button>
