<li class="flex border rounded-xl h-60">
    <div class="m-auto">
        <p class="text-lg">{{ weatherData.location.name | titlecase }} by {{ weatherData.current.feelslike_c|   titlecase}}</p>
        <!-- <p class="my-4">{{ city.desc }}</p> -->
       
    </div>
</li>



<body>
    <div class="currentcard" >
        <div class="card">
        <div class="top-info"><div class="Info"><p style="font-size: 0.5rem; font-weight:bold;">CURRENT WEATHER</p>
            <p style="font-size: 0.5rem; margin-top: -0.25rem;">12:25pm</p></div>
           <div class="Info" style="margin-left: 5rem;"> <h1 style="font-size: 1.125rem;"><b>{{city.City}}</b></h1></div> <div class="Info">
            <button class="bg-yellow-400 rounded p-3" *ngIf="!isInCart"
            (click)="addToCart()"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
            </svg></button>
            <button class="bg-yellow-400 rounded p-3" *ngIf="isInCart"
            (click)="removeFromCart()"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
             height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M872 474H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h720c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path>
            </svg></button>
           </div></div>
        <div class="middle-info"><div class="temp-and-info"> <img src="https://cdn3d.iconscout.com/3d/premium/thumb/sunny-day-3311771-2754905.png" width="182px" height="91px" style="z-index: 1;"> </div> <div class="temp-and-info" style="margin-left: -4rem;"> <h2 style="font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
           
            /* identical to box height */
            
            letter-spacing: 0.04em;">{{city.temperature}}</h2><br><p class="other">Sunny</p></div>
          <div class="temp-and-info"> <p >Precipitation: {{city.precipitation}}</p><p class="other-data">Wind: {{city.wind}}</p><p class="other-data">Humidity: {{city.humidity}}</p></div></div> 
          <div class="bottom-info" style="margin-left: 1rem;"> <p style="font-size: 0.75rem;"> Night {{city.night}}</p></div>
        </div>
    </div>
<!--     
    Days {
        day: string;
        day_temp: string;
        night_temp: string;
     -->
    <div class="future-forecast">
    
        <div class="today" id="current-temp">
    
            <div class="others">
                <div class="day" style="text-align: center;">{{Days.day}}</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 25.6&#176; C</div>
                <div class="temp">Day - 35.6&#176; C</div>
            </div>
            
        </div>
    
        <div class="weather-forecast" id="weather-forecast">
            <div class="weather-forecast-item">
                <div class="day">Tue</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 25.6&#176; C</div>
                <div class="temp">Day - 35.6&#176; C</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Wed</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 25.6&#176; C</div>
                <div class="temp">Day - 35.6&#176; C</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Thur</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 25.6&#176; C</div>
                <div class="temp">Day - 35.6&#176; C</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Fri</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 25.6&#176; C</div>
                <div class="temp">Day - 35.6&#176; C</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Sat</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 25.6&#176; C</div>
                <div class="temp">Day - 35.6&#176; C</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Sun</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 25.6&#176; C</div>
                <div class="temp">Day - 35.6&#176; C</div>
            </div>
    
        </div>
    </div>
</body>